 body {
	
}

.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .myslide
{
display:none;
}
.slide-container
{
margin:auto;
position:absolute;
max-width:2000px;
}
 .margin {margin-bottom: 45px;}
.fade

{
-webkit-animation-name:fade;
-webkit-animation-duration:6.0s;
animation-name:fade;
animation-duration:6.0s;
}
@-webkit-keyframes fade
{
from {opacity :.4}
to {opacity :1}
}
@keyframes fade
{
from {opacity :.4}
to {opacity :1}
}
#level3
{
   
background-color:black;
position:relative;
    top:60px;
width:60%;
box-shadow:0px 56px 36px -52px black;
-webkit-box-shadow:0px 52px 30px -50px black;
-webkit-box-shadow:0px 56px 30px -50px black;
}
#div1 {
    text-align: justify;
    text-justify: inter-word;
}
